.first-container {
  height: 100vh;
  background-color: black;
}

.second-container {
  //   height: 100vh;
}

.header-text,
.header-period {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}

.header-period {
  color: #e50914;
}

.header-content {
  margin-top: 60px;
  margin-bottom: 20px;
}

.services-content {
  margin-bottom: 36px;
}

.services-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.second-container,
.third-container,
.fourth-container,
.fifth-container {
  margin-left: 30px;
}

.button-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
}

.class-item,
.event-item,
.testiomonial-item,
.brand-item {
  margin-bottom: 20px;
}

.classes-layout,
.events-layout,
.testimonials-layout,
.brands-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
}

.services-buttons {
  margin-bottom: 30px;
}

.brand-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
}

.brand-description {
  margin-top: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(33, 33, 33, 0.6);
}

.fifth-container-bg {
  margin-top: 40px;
  background-color: black;
}

.footer-logo {
  padding-top: 40px;
}

.explore-layout,
.meet-us-layout,
.call-us-layout,
.mail-us-layout,
.social-media-layout-parent {
  margin-top: 30px;
}
.footer-title {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: left;
}

.footer-sub-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.social-media-layout {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  justify-content: space-between;
}

.copyrights-layout {
  margin-top: 52px;
  padding-bottom: 24px;
}

.copyright-line {
  color: #fff;
  margin-right: 30px;
}

.copyright-text {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}
